/* Getting rid of default styling */
textarea, input {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.hidden {
    display: none;
}

.message-form {
    width: 100%;
}

.message-box {
    border: solid 3px #606060;
    color: #606060;
    height: calc(100vh - 50px);
    width: 100%;
}

.message-animate-container {
    margin: 40px;
    line-height: 1.1;
    font-size: 8vw;
}

.message-animate {
    width: 80%;
    white-space: pre;
}

.message-textarea {
    vertical-align: bottom;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    padding: 40px;
    height: calc(100vh - 60px);
    width: 100%;
    font-size: 4vw;
}

.message-submit {
    position: absolute;
    bottom: 35px;
    right: 60px;
    pointer: cursor;
}

.message-submit input {
    background:url(../img/greet/send-button/grey-button.svg) no-repeat;
    cursor: pointer;
    width: 80px;
    height: 80px;
    border: none;
}

.message-submit input:hover {
    background:url(../img/greet/send-button/cyan-button.svg) no-repeat;
}

/* Styling textarea's placeholders */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #606060;
    font-size: 8vw;
    line-height: 0.95;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #606060;
    font-size: 8vw;
    line-height: 0.95;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #606060;
    font-size: 8vw;
    line-height: 0.95;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #606060;
    font-size: 7vw;
    line-height: 0.95;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) { 

}


/* Blinking cursor animation */
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    display: inline;
    font-size: 8vw;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}