/*.landing_page {
	height: 100%;
	width: auto;
}*/

.1_crowd {
	background-color: #f0c101;
}

.2_presentable {
	background-color: #00d4be;
}

.3_mothersday {
	background-color: #f99cae;
}

.4_kitchen {
	background-color: #e34a4c;
}

.5_lingo {
	background-color: #039bef;
}

.6_content {
	background-color: #5453d3;
}