html, body {
	height: 100%;
}

/* Toolbar */

/* logo */
.navbar-brand img {
	width: 60%;
	padding-left: 4%;
}

/* Toolbar items */
.navbar-default .navbar-nav>li>a {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: black;
	margin: 0px 30px 0px 30px;
}

.navbar-default {
	background-color: white; 
	border: none; 
}