
._crowd {
	background-color: #f0c101;
}

._presentable {
	background-color: #00d4be;
}

._mothersday {
	background-color: #f99cae;
}

._kitchen {
	background-color: #e34a4c;
}

._lingo {
	background-color: #039bef;
}

._content {
	background-color: #5453d3;
}

/* Text */
.item-text {
	font-size: 2.2vw;
	transform: translate(100px, 100px);
}

.item-text-main {
	font-weight: bold;
}

.item-text-sub {
	color: white;
	font-style: italic;	
}