.individual-background-color {
	background-color: #f2f6f9;
}

.lynette {
	background-image: url('/img/meet/lynette.jpg');
}

.jade {
	background-image: url('/img/meet/jade.jpg');
}

.kristie {
	background-image: url('/img/meet/kristie.jpg');
}

.annie {
	background-image: url('/img/meet/annie.jpg');
}

.individual {
	position: fixed;
	height: 100%;
	background-size: 100%;
}

.individual-pic {
	display: inline-block;
	float: left;
	width: 50%;
}

.individual-pic img {
	float: right;
	margin-right: 10%;
}

.individual-section {
	display: inline-block;
	width: 50%;
	margin-top: 1.5%;
	margin: 8% auto;
}

.individual-section-left {
	float: left;
	margin-left: 20%;
}

.individual-section-right {
	float: right;
}

.individual-name {
	font-size: 25px;
	margin: 5px 0px 5px 0px;
}

.individual-bio {
	font-size: 15px;
	width: 60%;
}

.individual-footer {
	margin: 10px 0px 10px 0px;
	font-style: oblique;
}

.individual-links a {
	color: white;
	text-decoration: none;
}

.individual-links a:hover {
	color: lightgray;
}

