.individual-background-color {
	background-color: #f2f6f9;
}

.carousel-inner>.item>img, .group {
	max-width: none;
	position: absolute;
	bottom: 0px;
}

.group-greeting {
	/*background-color: gray;*/
	font-size: 2em;
	width: 70%;
	margin: 0 auto;
	transform: translateY(100px);
}

/* Lynette */
.lyn-portrait {
    position: absolute;
    top: 13%;
    width: 215px;
    left: 19%;
    z-index: -1;
}

.lyn-illustration {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: -2;
}

/* Jade */
.jad-portrait {
   	position: absolute;
    top: 13%;
    width: 150px;
    left: 21%;
    z-index: -1;
}

.jad-illustration {
    position: absolute;
    top: 6%;
    left: 100px;
    width: 40%;
    z-index: -2;
}

/* Kristie */
.kri-portrait {
    position: absolute;
    top: 8%;
    width: 250px;
    right: 18%;
    z-index: -1;
}

/* Annie */
.ann-portrait {
	position: absolute;
    top: 60px;
    width: 250px;
    left: 20%;
    z-index: -1;
}

.individual {
	position: fixed;
	height: 100%;
	background-size: 100%;
	color: black;
}

.individual-pic {
	display: inline-block;
	float: left;
	width: 50%;
}

.individual-pic img {
	float: right;
	margin-right: 10%;
}

.individual-section {
	display: inline-block;
	width: 50%;
	margin-top: 1.5%;
	margin: 8% auto;
}

.individual-section-left {
	float: left;
	margin-left: 20%;
}

.individual-section-right {
	float: right;
}

.individual-name {
	font-size: 25px;
	font-weight: 700;
	margin: 5px 0px 5px 0px;
}

.individual-bio {
	font-size: 15px;
	width: 60%;
}

.individual-footer {
	margin: 10px 0px 10px 0px;
	font-style: oblique;
}

.individual-links a {
	text-decoration: none;
	font-weight: 300;
	color: #333;
}

.individual-links a:hover {
	color: lightgray;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.lyn-portrait {
	    left: 14%;
	}

	.jad-portrait {
		left: 20%;
	}
	.jad-illustration {
	    position: absolute;
	    top: 80px;
	    left: 6%;
	    width: 40%;
	    z-index: -2;
	}

	.kri-portrait {
		right: 15%;
	}

	.ann-portrait {
	    left: 15%;
	}
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 768px) { 

	.individual {
		color: white;
	}

	.individual-section {
       display: inline-block;
	    width: 100%;
	    background-color: rgba(0, 0, 0, 0.6);
	    height: 100%;
	    margin: 0;
	    transform: translateY(200px);
        padding: 8% 8% 8% 17%;
	}

	.individual-name {
    	margin: 5px 0px 10px 0px;
	}

	.individual-bio {
		font-size: 15px;
		width: 90%;
	}

	.individual-links a {
		color: white;
	}

	.jad-illustration {
	    position: absolute;
	    top: 10px;
	    left: 10%;
	    width: 70%;
	    min-width: 400px;
	    z-index: -2;
	}
}

