.see {
    display: flex;                   /* establish flex container */
    flex-direction: row;             /* default value; can be omitted */
    flex-wrap: nowrap;               /* default value; can be omitted */
    justify-content: space-between;  /* switched from default (flex-start, see below) */
}

.see > div {
    width: 33%;
    height: 90vh;
}

.see-col {
	border: solid 1px blue;
	background-color: 
}

/* Photography + Graphic Design */
.content {
	height: 93vh;
}

.categories {
	float: left;
	width: 30%;
	padding: 15% 0 0 10%;
}

.categories_title {
	font-size: 20px;
	padding: 5px 0 20px 0;
}

.categories_name {
	font-size: 15px;
	padding: 5px 0 5px 20px;
}

.display_carousels {
	float: right;
	width: 70%;
}

.wrapper {
	height: 80%;
	margin: auto;
	
}
.display_carousel {
	margin: 0 auto;
	width: 60%;
}

.portfolio-item {
	padding-top: 12%;
}

.portfolio-indicators {
	padding-bottom: 5%;
}
.portfolio-indicators li {
	background-color: gray;
	border: none;
}

.carousel-indicators .active {
	background-color: lightgray;
}
/*
#carousel {
  margin-left: 50px;
  margin-right: 50px;
}*/

/*.carousel-control .icon-prev, .carousel-control .icon-next {
    font-size: 100px; 
    color: red;
}*/

.carousel-control.left {
	margin-left: -100px;
}

.carousel-control.right {
	margin-right: -100px;
}