/* This stylesheet is for formatting
   elements that every section share
*/

html, body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
	overflow-y: hidden;
}

/* Toolbar */

/* Logo */
.navbar-brand {
	background: url('../img/logo.png') no-repeat;
    background-size: 90px;
    width: 90px;
    transform: translate(25px, 17px);
}

.navbar-brand:hover {
	opacity: 0.5;
}

/* Toolbar items */
.navbar-default .navbar-nav>li>a {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: black;
	margin: 0px 20px 0px 20px;
	text-transform: lowercase;
}

.navbar-default {
	background-color: white; 
	border: none; 
	margin: 0;
}

.nav-meet, .nav-greet, .nav-fb {
	background-repeat: no-repeat;
	background-position: center;
}

/* Hover only appears when navbar is full, not with icon */
@media only screen and (min-width: 768px) {

	.nav-background-meet, .nav-meet:hover {
		background-image: url('../img/nav-bar/nav_meet.png');
		background-size: 36px 36px;
	}

	.nav-background-greet, .nav-greet:hover{
		background-image: url('../img/nav-bar/nav_greet.png');
		background-size: 36px 36px;

	}

	.nav-fb:hover {
		background-image: url('../img/nav-bar/nav_fb.png');
		background-size: 36px 36px;
	}
}

.fa-facebook-square {
	font-size: 20px;
}

/* Carousel Controls */
.carousel-control.left, .carousel-control.right {
    background-image: none
}

span.icon.icon-prev, span.icon.icon-next {
	font-size: 50px;
	color: white;
}

/* Carousel Indicators */
.carousel-indicators .active, .carousel-indicators li {
	width: 8px;
	height: 8px;
	margin: auto;
	margin: 0px 5px 0px 5px;
}

/* Colored carousel indicators for meet page */
.colored-carousel-indicators li {
	border: 1px solid #A9A9A9;
}

.carousel-indicators.colored-indicators .active {
	background-color: #A9A9A9;
}

/* Each Item on page */
.item {
	height: calc(100vh - 50px);
}
