/* This stylesheet is for formatting
   Elements that every section share
*/

html, body {
	height: 100vh;
	font-family: 'Lato', sans-serif;
}

/* Toolbar */

/* logo */
.navbar-brand img {
	width: 60%;
	padding-left: 4%;
}

/* Toolbar items */
.navbar-default .navbar-nav>li>a {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: black;
	margin: 2px 20px 0px 20px;
}

.navbar-default {
	background-color: white; 
	border: none; 
	margin: 0;
	height: 7vh;
}

.navbar-background, .navbar-default .navbar-nav>li>a:hover {
	background-repeat: no-repeat;
	background-position: center;
}

/* Bean-Co to beginning of path root? */
.nav-background-meet, .nav-meet:hover {
	background: url('/img/nav-bar/nav_meet.png') no-repeat center;
}

.nav-background-greet, .nav-greet:hover{
	background: url('/img/nav-bar/nav_greet.png') no-repeat center;
}

.nav-fb:hover {
	background: url('/img/nav-bar/nav_fb.png') no-repeat center;
}

.fa-facebook-square {
	font-size: 24px;
}

/* Carousel Controls */
.carousel-control.left, .carousel-control.right {
    background-image: none
}

/* Each Item on page */
.item {
	height: 93vh;
}

.item > img {
	width: 120%;
}